.pane {
	-fx-background-color: rgb(26, 26, 26);
}

.labeldata {
	-fx-background-color: rgb(208, 206, 206);
	-fx-border-radius: 10 10 5 5; 
	-fx-background-radius: 10 10 5 5; 
	-fx-padding: 0 0 0 10;
}

#numberlabel {
	-fx-padding: 0 0 0 0;
	-fx-border-style: solid;
    -fx-border-width: 3px;
	-fx-border-color: rgb(255, 255, 140);
	-fx-alignment: center;
}

#paneRecent {
	-fx-border-style: solid;
    -fx-border-width: 0 0 0 3;
	-fx-border-color: rgb(255, 255, 140);
}

#recentButton {
	-fx-border-radius: 5 5 10 10; 
	-fx-background-radius: 5 5 10 10; 
}

#closeRecent {
	-fx-background-image: url("application/x.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
	-fx-background-color: rgba(0, 0, 0, 0);
}

#closeRecent:hover  {
	-fx-background-image: url("application/xhover.png");
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; 
	-fx-background-color: rgba(0, 0, 0, 0);
}

#recentList {
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-border-style: solid;
    -fx-border-width: 0 3 0 0;
	-fx-border-color: rgb(255, 255, 140);
}

#labelRecent {
	-fx-border-style: solid;
    -fx-border-width: 0 3 3 0;
	-fx-border-color: rgb(255, 255, 140);
	
}
